
.header{
	height: 150px;
	width: 100%;
	background: #582C81;
}

.column {
	width: 100%;
	display: flex;
}

.left{
	width: 100px;
	height: 500px;
	background: #F0BF00;
	flex: 1;
}
.right{
	width: 100px;
	height: 500px;
	background: #F0BF00;
	flex: 1;
}

.middle{
	width: 100%;
	height: 400px;
	background: white;
	position: relative;
	flex: 3;
}
.footer{
	position: absolute;
	width: 100%;
	height: 100px;
	background: #582C81;
	flex: 3;
	bottom: -100px;
}
